<h2 class="m-2">Eliminar Experiencia Laboral:</h2>
<form [formGroup]="form" class="m-2" (ngSubmit)="onEnviar($event)">
  <div class="mb-3">
    <input type="hidden" id="id">
    <label for="nombre" class="form-label">Nombre</label>
    <input readonly formControlName="nombre" type="text" class="form-control" id="nombre" aria-describedby="emailHelp" >
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripcion</label>
    <input readonly formControlName="descripcion" type="text" class="form-control" id="descripcion" aria-describedby="descripcion" >
  </div>
  <div class="mb-3">
    <label for="logo" class="form-label">Logo Empresa</label>
    <input readonly type="text" formControlName="logo" class="form-control" id="logo">
  </div>
  <div class="mb-3">
    <label for="url" class="form-label">URL de Linkedin para contacto</label>
    <input readonly type="text" formControlName="url" class="form-control" id="url">
  </div>
  <button type="submit" class="btn btn-success" >Eliminar</button>
</form>
<div>
  <br>
  &nbsp;&nbsp;<button onclick="history.back()" class="btn btn-danger" >Volver</button>
</div>
