<!-- Proyectos -->
<div class="proyecto">
  <div class="btn-toolbar">
    <div class="col-10">
      <h3>Desarrollos</h3>
    </div>
    <div class="col-2">
      <button *ngIf="isLogued" type="button" class="btn btn-info" (click)="agregarDesarrollo($event)">Agregar</button>
    </div>
  </div>
  <div class="btn-toolbar" *ngFor="let job of misDatos">
    <div class="col-2" >
      <img *ngIf="job.logo != null"
        width="137"
        [src]="job.logo"
      />
      <br>
      <br>
    </div>
    <div class="col-10">
      <h4>{{job.nombre}}</h4>
      <h6>{{job.detalle}}</h6>
      <h6>{{job.tipo}}</h6>
      <p *ngIf="job.url != null"><a [href]="job.url">mas información...</a></p>
      <p *ngIf="isLogued">
        <button type="button" class="btn btn-info" (click)="editDesarrollo($event, job.id)">Editar</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="deleteDesarrollo($event, job.id)">Borrar</button>
      </p><br>
      <br><br>
    </div>
  </div>
</div>
